body{
    margin: 0%;
    background-color: maroon;
}
section{
    background-color: maroon;
    height: 400%;
    width: 100%;
}

i{
    font-size: 30px;
    margin-top: 20%;
    display: inline-block;
}
#prev{
   font-size: 40px;
   float: left;
}
#next{
    font-size: 40px;
float: right;
}
